__pycache__/
*.py[cod]
*.egg-info/
venv/
.venv/
.git/
.gitignore
.idea/
.vscode/
data/raw/
data/interim/
data/processed/
mnist/
models/checkpoints/
notebooks/
.ipynb_checkpoints/
tests/
.DS_Store
Thumbs.db